<div class="container">
  <% if @category.present? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path  "background_images/#{@category.url}" %>">
    <%= @category.name %>
  </div>
  <% end %>
  <% @superpowers.each do |superpower| %>
    <%= link_to superpower_path(superpower) do %>
      <div class="card-product">
        <img src="<%= image_path superpower.url %>" />
        <div class="card-trip-infos">
          <h2><%= superpower.name %></h2>
          <p><%= superpower.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= superpower.fee %> €</h2>
      </div>
    <% end %>
  <% end %>
</div>

