<div class="container">
  <h1>Super power: <%= @superpower.name %></h1>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th>description</th>
            <th>level</th>
            <th>price per day</th>
            <th>category</th>
          </thead>
            <tr>
              <td><%= @superpower.description %></td>
              <td><%= @superpower.level %>/5</td>
              <td><%= @superpower.fee %>$</td>
              <td><%= @superpower.category.name %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container">
    <%= simple_form_for [@superpower, @renting] do |f| %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit, url: %>
    <% end %>
  </div>
  <%= link_to "< back",  superpowers_path, class: "btn btn-warning"  %>
</div>

