<div class="container">
  <h1>My Rentings</h1>
  <div class="containerrentings">
    <% @rentings.each do |renting| %>
      <div class="card-renting">
        <%= image_tag renting.superpower.url %>
        <div class="card-renting-details">
          <h2><%= renting.superpower.name %></h2>
          <h3>Total price : <%= renting.total_price %>€</h3>
        </div>
        <div class="card-renting-dates">
        <p> Start : <%= renting.start_date %></p>
        <p> End : <%= renting.end_date %></p>
        </div>
        <div class="card-button">
        <p><%= link_to "Edit the renting",  edit_renting_path(renting), class: "btn btn-outline-info btn-sm" %></p>
        <button id="sweet-alert" class="btn-outline-danger btn-sm">Delete the renting</button>
        <%= link_to "", renting_path(renting), method: :delete, id: "delete-link"%>
        </div>
      </div>
    <% end %>
  </div>

  <div class="containerrentings">
  <%= link_to "Back to homepage",  root_path, class: "btn btn-primary"  %>
  </div>
</div>

