<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/xBFTjrMIC0c);">
  <h1>My Rentings</h1>
</div>

<table>
  <tbody>
    <% @rentings.each do |renting| %>
      <tr>
        <td><%= renting.superpower.name %></td>
        <td><%= renting.start_date %></td>
        <td><%= renting.end_date %></td>
        <td><%= renting.total_price %></td>
        <td><%= link_to "edit the renting",  edit_renting_path(renting), class: "btn btn-success" %></td>
        <td><%= link_to "delete the renting", renting_path(renting), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "back to homepage",  root_path, class: "btn btn-warning"  %>
