<h1>My Rentings</h1>

<div class="containerrentings">
  <div class="row">
    <div class="col-12 col-md-6">
      <% @rentings.each do |renting| %>
        <div class="card-renting">
          <%= image_tag "Superpower.png" %>
          <div class="card-renting-infos">
            <div>
              <h2><%= renting.superpower.name %></h2>
              <p><%= renting.start_date %></p>
              <p><%= renting.end_date %></p>
            </div>
            <h2 class="card-renting-pricing">Total price : <%= renting.total_price %>€</h2>
            <p><%= link_to "Edit the renting",  edit_renting_path(renting), class: "btn btn-outline-info btn-sm" %></p>
            <p><%= link_to "Delete the renting", renting_path(renting), class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" }%></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="containerrentings">
<%= link_to "Back to homepage",  root_path, class: "btn btn-primary"  %>
</div>

